<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:8080" />
    <add key="SoapBaseUrl" value="http://localhost:8080" />
    <add key="WeatherGrpcAddress" value="http://localhost:9090" />
    <add key="FrontendAccessMode" value="FullAccess" />
  </appSettings>
</configuration>
