<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:8080" />
    <add key="SoapBaseUrl" value="http://localhost:8080/ws" />
    <add key="WeatherServiceUrl" value="http://localhost:9090/RPC2" />
    <add key="RelaxNgBaseUrl" value="http://localhost:8081" />
    <add key="AccessMode" value="FullAccess" />
  </appSettings>
</configuration>
